
body {
    background-color: hsl(217, 54%, 11%);
    margin: 0;
    padding: 0;
}
.product-container {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nft-card {
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 0.3px solid hsl(217, 54%, 11%);
}
.image {
    margin-top: 10px;
    width: 19rem;
    height: 17rem;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
img:hover {
    cursor: pointer;
}
.text {
    width: 85%;
}
#title {
    color: white;
    font-family: 'Outfit', sans-serif;
}
#title:hover {
    color:cyan;
    cursor: pointer;
}
#title:active {
    color:cyan;
    cursor: pointer;
}
.desc {
    color: gray;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}
.purchase-detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}
#purchase-icon, .view-icon{
    width: 15%;
    height: 40%;
    position: relative;
    top: 4px ;
}
.worth {
    flex: 1;
    color: rgb(0, 255, 221);
}
.duration {
    color: gray;
}
hr {
    border-top: 0 groove hsl(215, 32%, 27%);
    transform: translateY(-10px);
}
.creation {
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Outfit', sans-serif;
}
#image-avatar {
    width: 15%;
    height: 90%;
    border-radius: 100%;
    border: 0.5px groove white;
}
.creation-info {
    color: gray;
    flex: 1;
    position: relative;
    left: 20px;
}
#name {
    color: white;
}
#name:hover {
    color:cyan;
    cursor: pointer;
}
#name:active {
    color:cyan;
    cursor: pointer;
}
.attribution { 
    display: inline;
    font-size: 11px; 
    text-align: center; 
    color: white;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Tablet screens*/
@media screen and (max-width: 700px) {
    .product-container {
        max-width: 700px;
        min-height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nft-card {
     margin: 50px auto;
    } 
 }
/* Mobile Responsiveness (Phone screens) */
@media screen and (max-width: 375px) {
    .product-container {
        max-width: 375px;
        min-height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nft-card {
        width: 90%;
        height: 566px;
       } 
    .image {
        margin-top: 1.3rem;
        width: 16.5rem;
        height: 16rem;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .text {
        width: 82%;
    }
    .purchase-detail {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 15px;
        font-family: 'Outfit', sans-serif;
    }
    #purchase-icon, .view-icon{
        width: 15%;
        height: 40%;
        position: relative;
        top: 3px ;
    }
    .worth {
        flex: 1;
        color: rgb(0, 255, 221);
    }
    .duration {
        color: gray;
    }
    hr {
        border-top: 0 groove hsl(215, 32%, 27%);
        transform: translateY(-10px);
    }
 }